# Node
node_modules/
npm-debug.log

# Java/Gradle
.gradle/
/build/
/out/
/backend/target/
/backend/.m2/
*.log

# Android
.idea/
.vscode/
/local.properties

# Docker
docker-compose.override.yml

# OS
.DS_Store

# Env
.env
